
.col-full {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

@media (min-width: 800px) {
	.col-full {
		max-width: 800px;
	}
}

@media (max-width: 799px) {
	.col-full {
		width: 100%;
	}
}

#masthead {
	padding-top: 1em;
	padding-bottom: 0;
	text-align: center;
	background-color: #444;
	color: #BBB;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
}

#masthead h1, h2, h3, h4, h5, h6 {
	color: #EEE;
}

#timeclock-live-clock {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	font-size: 4rem;
	text-align: center;
	line-height: 1;
}

#timeclock-form {
	padding-top: 1em;
}

#timeclock-form fieldset {
	margin: 0.5em;
	padding: 0;
}

#timeclock-form label {
	text-align: right;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

#timeclock-form #timeclock-single-user-select {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 2rem;
}

#timeclock-form select {
	font-size: 1.5rem;
	display: block;
	margin: 0 auto;
	padding: 0.5rem;
	height: 2.5em;
	width: 100%;
	min-width: 50%;
}

#timeclock-form input {
	font-size: 1 rem;
	display: block;
	margin: 0 auto;
	min-width: 10rem;
}

#timeclock-form textarea {
	width: 100%;
}

#timeclock-form button {
	padding: 1em 1.5em;
	font-weight: 600;
}

#timeclock-keypad {
	background-color: #444;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 25% 25% 25% 25%;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

.timeclock-submit {
	background-color: #444;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

.site-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: #999;
	background-color: #444;
}
