
.team-time-log-entry {
	display: flex;
	flex-direction: column;
}

.team-time-log-entry fieldset {
	margin-bottom: 0.5em;
}

.team-time-log-entry textarea {
	width: 100%;
}

.team-time-log-entry input {
	height: 1.75em;
}

.team-time-log-entry-hour {
	width: 3em;
}

.team-time-log-entry-minute {
	width: 3em;
}
