
.team-time-log-entry {
	display: grid;
	grid-template-columns: 10em auto;
	grid-template-rows: 3em 3em auto;
}

.clock-in-row {
	grid-row: 1;
}

.clock-out-row {
	grid-row: 2;
}

.summary-row {
	grid-row: 3;
}

.team-time-log-entry label {
	grid-column: 1;
}

.team-time-log-entry div {
	grid-column: 2;
}

.team-time-log-entry input {
	height: 2em;
}

.team-time-log-entry-hour, .team-time-log-entry-minute {
	width: 3em;
}

.team-time-log-entry textarea {
	width: 100%;
}
